amqp==2.2.2
Babel==2.9.1
billiard==3.5.0.3
celery==4.1.0
cloudinary==1.5.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.28
django-background-tasks==1.1.12
django-bootstrap-datepicker==1.1.1
django-bootstrap-form==3.2.1
django-bootstrap3==8.0.0
django-celery==3.2.2
django-compat==1.0.15
django-hvad==1.6.0
django-libs==1.67.12
django-multiselectfield==0.1.5
django-phonenumber-field==1.1.0
django-smart-selects==1.5.2
django-toolbelt==0.0.1
django-widget-tweaks==1.4.1
envvars==0.3.0
gunicorn==19.6.0
hashids==1.2.0
kombu==4.1.0
phonenumberslite==8.8.8
psycopg2==2.7.3.2
pytz==2017.3
six==1.11.0
static3==0.7.0
urllib3==1.24.2
vine==1.1.4
wheel==0.24.0
whitenoise==3.3.1
