{% extends "standard_page.html" %}
{% load static %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/merchant/booking_table.css' %}" />
{% endblock extended_css %}

{% block main %}
    {% if messages %}
        <div class="col-sm-12 no-left">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">           
        <table class="table table-hover">
            <thead class="table-head">
                <tr>
                    <th>Product</th>
                    <th>Product Price</th>
                    <th>Counter Price</th>
                    <th>Previous Counter Price</th>
                    <th>Purchase Approved</th>
                    <th>Counter Offer Accepted</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for offering in offers %}
                <tbody>
                    <tr>
                        <td>{{offering.product}}</td>
                        <td>{{offering.product.price}}</td>
                        <td>{{offering.counter_price}}</td>
                        <td>{{offering.previous_counter_price}}</td>
                        <td>{{offering.is_approved}}</td>
                        <td>{{offering.is_accepted}}</td>
                        <td>
                            <form action="{% url 'offering_status' username=request.user %}" method="get">
                                <a class="btn btn-primary" href="{% url 'offering_create' slug=offering.product.slug id_params=offering.id %}">Buy Now</a>
                                {% if not offering.is_accepted %}
                                    <a type="submit" class="btn btn-primary" id="{{offering.id}}" href="{% url 'counter_offer' slug=offering.product.slug id_params=offering.id %}">Counter Offer</a>
                                    <input type="submit" class="btn btn-danger" value="Reject" name="decline" id="{{offering.id}}">
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}