{% extends "standard_page.html" %}
{% load static %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/merchant/booking_table.css' %}" />
{% endblock extended_css %}

{% block main %}
    {% if messages %}
        <div class="col-sm-12 no-left">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">           
        <table class="table table-hover">
            <thead class="table-head">
                <tr>
                    <th>Product</th>
                    <th>Product Price</th>
                    <th>Customer Name</th>
                    <th>Customer Email</th>
                    <th>Phone number</th>
                    <th>Counter Price</th>
                    <th>Approved</th>
                    <th>Approved Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for offering in offering_list %}
                <tbody>
                    <tr>
                        <td>{{offering.offering.product}}</td>
                        <td>{{offering.offering.product.price}}</td>
                        <td>{{offering.offering.customer_name}}</td>
                        <td>{{offering.offering.customer_email}}</td>
                        <td>{{offering.offering.phone_number}}</td>
                        <td>{{offering.offering.counter_price}}</td>
                        <td>{{offering.offering.is_approved}}</td>
                        <td>{{offering.offering.approved_price}}</td>
                        <td>
                            <form action="{% url 'offering_status' username=request.user %}" method="get">
                                {% if offering.offering.counter_price and not offering.offering.approved_price %}
                                    <a type="submit" class="btn btn-primary" id="{{offering.offering.id}}" href="{% url 'counter_offer' slug=offering.offering.product.slug id_params=offering.offering.id %}">Counter Offer</a>
                                    <input type="submit" class="btn btn-primary" value="Accept" name="accept" id="{{offering.offering.id}}">
                                {% else %}
                                    <input type="submit" class="btn btn-primary" value="Approve" name="approve" id="{{offering.offering.id}}">
                                    <input type="submit" class="btn btn-danger" value="Decline" name="decline" id="{{offering.offering.id}}">
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}

