<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
    <body>
        <div style="overflow: auto;">

            <p style="display: none; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">
                Determine How Much You want to Get a Product!
            </p>

            <div style="background-color: #dedede; min-height: 504px; line-height: 1.6; margin: auto; padding: 10%; padding-top: 4%; width: 70%; text-align: center; border-radius: 10px 10px 10px 10px;">
                    <p style="font-family: 'Montserrat', sans-serif; font-weight: 300; font-style: normal; color: #fff; font-size: 25px; text-decoration: none;">bargain.ng
                    </p>
                    <div style="background-color: #fff;font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size: 14px; font-weight: normal; display: block; margin: auto; max-width: 80%; padding: 10%;vertical-align: top; text-align: left; border-radius: 10px 10px 10px 10px;">

                        <h1 style="color: #909090; margin: 0;">Approved Transaction</h1>
                        <p>Hello {{username}},</p>
                        <div style="color: #444"
                            <p>Thank you for choosing bargain.ng. Your purchase has been approved and being processed. Below are the details of your orders;
                                <span>Product Name: {{product_name}}</span>
                                <br>
                                <span>Product Description: {{product_description}}</span>
                                <br>
                                <span>Name: {{username}}</span>
                                <br>
                                <span>Phone Number: {{offering}}</span>
                                <br>
                    </div>
                            </p>



                              <!--   <p style="margin: 0; margin-bottom: 15px; padding: 0; color: #444;">If nothing happens in the next 20 minutes, kindly reply this mail or call us on 08175395772.
                                </p> -->

                        <div style="border-collapse: separate; border-spacing: 0; width: auto; margin-bottom: 15px; text-align: left; vertical-align: top;">

                    <p style="color: #444">Thank you,</p>
                    <p style="color: #444">bargain.ng Team.</p>
                    </div>

                </div>
                <p align="center" style="font-size:13px; color: #A9A9A9;">Please disregard this email if you did not make a booking on bargain.ng.</p>
            </div>
        </div>
    </body>
</html>
